<%-layout('layouts/boilerplate.ejs')%>

<body>
    <h1>All Listings..</h1>
    <div class="row   row-cols-lg-3   row-cols-md-2   row-cols-sm-1"><!--class="row" is bootstrap class to make all listings in rows and "row-cols-lg-3 row-cols-md-2 row-cols-sm-1" to make atleast 3 columns for large, 2 columns for medium and atleast 1 column during small-->
        <%for(let list of data){%>
            <a href="/listings/<%=list._id%>" class="listing-link">
            <div class="card listing-card"><!--added col to class to make in rows-->
                <img src="<%=list.image.url%>" class="card-img-top" alt="listing_image" style="height: 18rem;">   <!--alt="" to alt="listing_image" and src="..." to src="<%=list.image%>" and added style="height: 18rem;-->
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    <p class="card-text">
                        <b><%=list.title%></b><br>
                        &#8377; <%=list.price.toLocaleString("en-IN") %> / night
                    </p>
                </div>
            </div>
            </a>
        <%}%>
    </div>
</body>




        <!-- <form method="get" action="/listings/new">
        <button>Create new Listing</button>
        </form> -->
        <!-- <ul>
            <%for(let list of data){%>
                <li><a href="/listings/<%=list._id%>">
                        <%=list.title%>
                    </a></li>
                <%}%>
        </ul> -->